build
output
quartus_workdir*
test/cocotb/sim_build
backend/verilog
backend/achronix/ace/*/*
!backend/achronix/ace/*/*.acxprj
backend/achronix/syn/*
!backend/achronix/syn/*.prj
backend/quartus/*
!backend/quartus/sdc
backend/vivado/ip_generated

.Xil
vivado_workdir*

ioring
stdout.log*
synlog.tcl
generate
*.log
*.hex
*.bin
*.o
__pycache__

test/cocotb/log